{% extends 'base.html' %}
{% block container_departure %}
    {% load limit_str stars %}
    <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим из {{ departure|slice:"2:" }}</h1>
    <p class="mb-4">Найдено 15 туров, от 26 000 до 84 600 и от 4 ночей до 15 ночей</p>
    </main>
    <!-- CARDS -->
     <div class="row mt-5" data-test="cards">
        {% for id, tour in tour.items %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
                <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture">
                <div class="card-body">
                      <h5 class="card-title">{{ tour.title }} {{ tour.stars|stars }}</h5>
                 <p class="card-text">{{ tour.description|limit_str:25 }}</p>
                    <a href="{% url 'tour' id %}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
{% endblock container_departure %}